.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Plus Jakarta Sans;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 300px;
  background-color: #FFFAFF;
}

div h2 h1 h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 8px 15px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.btn {
  color: #9D0AFF;
  border: solid 1px #9D0AFF;
  border-radius: 10px;
}

a.btn-filled {
  background-color: #9D0AFF;
  color: #FFFAFF;
  border: none;
}

.navbarcontainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarcontainer .logocontainer {
  flex: 1;
  display: flex;
  align-items: center;
  color: #151531;
  font-weight: 700;
}
.navbarcontainer .pageslinkcontainer {
  color: #151531;
}
.navbarcontainer .pageslinkcontainer ul {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbarcontainer .pageslinkcontainer ul li {
  list-style-type: none;
}
.navbarcontainer .pageslinkcontainer ul li a {
  color: #151531;
}
.navbarcontainer .rightnavbaritems {
  flex: 1;
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: flex-end;
}
.navbarcontainer .rightnavbaritems span a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #9D0AFF;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  gap: 20px;
}
.intro .intro-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 50%;
  text-align: center;
}
.intro .intro-text h2 {
  margin: 0;
  font-size: 3rem;
  font-family: inherit;
  line-height: 4rem;
  font-weight: bolder;
  font-weight: 700;
}
.intro .intro-text pre {
  width: 70%;
  font-size: 15px;
  font-family: inherit;
  white-space: pre-wrap;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}
.branding p {
  color: rgba(21, 21, 49, 0.6);
}

.financial-overview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  background-color: #151531;
  color: #FFFAFF;
  border-radius: 30px;
  width: 65%;
  padding: 2rem;
}
.financial-overview-container p {
  color: rgba(255, 250, 255, 0.8);
}
.financial-overview-container .content {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}
.financial-overview-container .content .message {
  width: 80%;
}
.financial-overview-container .content .message h2 {
  font-weight: 700;
  font-size: 2.7rem;
  text-align: center;
}
.financial-overview-container .content .feature-cnt {
  width: 100%;
  background: rgba(255, 250, 255, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.financial-overview-container .content .feature-cnt h3 {
  font-size: 1.6rem;
}
@media screen and (max-width: 900px) {
  .financial-overview-container .content {
    width: 100%;
  }
  .financial-overview-container .content .message h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .financial-overview-container .content .message h2 {
    font-size: 1.7rem;
  }
  .financial-overview-container .content .feature-cnt {
    flex-direction: column;
  }
}

.services-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.services-container .intro-text {
  width: 45%;
  text-align: center;
  margin-bottom: 3rem;
}
.services-container .intro-text h2 {
  font-size: 2.5rem;
  color: #151531;
}
.services-container .intro-text p {
  color: rgba(21, 21, 49, 0.8);
}
@media screen and (max-width: 768px) {
  .services-container .intro-text {
    width: 70%;
  }
}
@media screen and (max-width: 480px) {
  .services-container .intro-text {
    width: 90%;
    overflow: scroll;
  }
  .services-container .intro-text h2 {
    font-size: 1.7rem;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 90%;
}

.service {
  padding: 2.5rem;
  border-radius: 30px;
  background-color: #fff;
}
.service .service-logo {
  background-color: #9D0AFF;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFAFF;
}
.service .service-description {
  width: 90%;
  font-size: 14px;
}
@media screen and (min-width: 500px) {
  .service {
    width: 300px;
    height: 200px;
  }
}/*# sourceMappingURL=app.css.map */